body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}
.color-tile {
	width: 30%;
	background: green;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}
.color-tile-hidden {

}

#tile-container {
	margin: 10px auto;
	max-width: 600px;
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;	
	padding: 20px 0;

}
h1 > p {
	margin: 0;
}
#color-display {
	font-size: 1.5em;
}
/* menu bar*/
/*#color-message-div {
	width: 20%;
}*/
.menu {
	background-color: white;
	/*height: 30px;*/
	text-align: center;
}
.menu div {
	display: inline-block;
}
.menu label, 
.menu button,
.menu span,
.menu li,
.menu ul,
.menu div {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	border-style: none;
	font-size: inherit;
	height: 100%;
	color: steelblue;
	padding: 0;
	margin: 0;
}
.menu button, .menu label {
	transition: all 0.6s;
}
.selected {
	background-color: steelblue;
	color: white;
}
.menu input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.menu input[type="radio"]:checked + label, 
.menu label:hover, 
.menu button:hover {
	background-color: steelblue;
	color: white;
}
label, button:focus {
	outline: none;
}
#status-message-div {
	width: 20%;
}
/* difficuty selection*/
.difficulty li {
	display: inline;
	height: 100%;
}
/*.difficulty li {
	float: left;
	position: relative;
	list-style-type: none;	
	height: 100%;
}
.difficulty label, .difficulty input {
    display: block;
    position: absolute;
	float: left;
    position: relative;
}*/